<div ng-controller="createContractCtrl as create">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Create smart contract</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a ui-sref="main.constructors">Constructors</a>
                </li>
                <li class="active">
                    <strong>Create new smart contract</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">


        <div class="row">
            <div class="col-lg-12" ng-hide="hash">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Create {{ item.title }} smart contract
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div ng-repeat="param in item.params">
                                <div class="form-group"><label class="col-sm-2 control-label">{{ param.title }}</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="param.value">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white">Cancel</button>
                                    <button class="btn btn-primary" ng-click="deploy()">Deploy</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" ng-show="hash">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Smart contract successfully deployed 
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="https://etherscan.io/tx/{{ hash }}" target="_blank">{{ hash }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>