<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contracts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Contracts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="contractsCtrl as contracts">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Constructor</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{ $index + 1 }}</td>
                        <td><a href="https://etherscan.io/address/{{ item.addr }}" target="_blank">{{ item.addr }}</a></td>
                        <td><a href="https://etherscan.io/address/{{ item.fabric }}" target="_blank">{{ item.fabric }}</a></td>
                        <td>{{ item.contractType }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
