<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Constructors</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Constructors</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="constructorsCtrl as constructors">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.addr }}</td>
                        <td><button class="btn btn-primary" type="button" ui-sref="main.constructors_create({address: item.addr})"><i class="fa fa-cloud-upload"></i>&nbsp;Create</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
